/* акцент цвет текста 2196F3 */
/* белый цвет текста FFFFFF */
/* черный цвет текста 212121 */
/* цвет параграфов 757575 */
/* цвет почты и имейла в футере rgba(255, 255, 255, 0.6);*/

:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --base-text-color: #757575;
  --secondary-bgc: #2f303a;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--base-text-color);
  letter-spacing: 0.03em;
}

/* не по дз но точки возле ссылок мучают глаза */
ul {
  list-style: none;
}

/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  text-decoration: none;
}

.logo-first-color {
  color: var(--accent-color);
}
.logo-white-color {
  color: var(--primary-white-color);
}

/* навигация и контакты */
.site-nav .link,
.contact-list .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-list .link:hover,
.contact-list .link:focus,
.footer-contact-list .link:hover,
.footer-contact-list .link:focus,
.footer-contact-list .location:hover,
.footer-contact-list .location:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  color: var(--primary-white-color);
  background-color: var(--secondary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

/* кнопки */
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

/* цвет заголовков */
.features-title,
.specialization,
.team-title,
.team-list .member,
.project {
  color: var(--title-text-color);
}

/* Преимущества */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

.specialization,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* наша команда */
.team-list .member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .position {
  font-size: 16px;
  line-height: 1.19;
}

/* футер */
.adress {
  background-color: var(--secondary-bgc);
}
.footer-contact-list .location,
.footer-contact-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact-list .location {
  color: var(--primary-white-color);
}

.footer-contact-list .link {
  color: rgba(255, 255, 255, 0.6);
}

/* портфолио */

.filter .filter-button:focus,
.filter .filter-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio .project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .service {
  font-size: 16px;
  line-height: 1.88;
}
