/* акцент цвет текста 2196F3 */
/* белый цвет текста FFFFFF */
/* черный цвет текста 212121 */
/* цвет параграфов 757575 */
/* цвет почты и имейла в футере rgba(255, 255, 255, 0.6);*/

:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --base-text-color: #757575;
  --secondary-bgc: #2f303a;
  --project-sec-gap: 30px;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--base-text-color);
  letter-spacing: 0.03em;
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 32px;
  padding-top: 32px;
  
}

/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-first-color {
  color: var(--accent-color);
}
.logo-white-color {
  color: var(--primary-white-color);
}

/* навигация и контакты */
.site-nav .link,
.contact .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top:10px;
  padding-bottom: 10px;
}

.header,
.main-nav, 
.site-nav, 
.contact.list  {
  display: flex;
}

.site-nav {
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.contact .item + .item {
  margin-left: 12px;
  
}

.contact {
  margin-left: auto;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact .link:hover,
.contact .link:focus,
.footer-contact-list .link:hover,
.footer-contact-list .link:focus,
.footer-contact-list .location:hover,
.footer-contact-list .location:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* герой */
.hero {
  color: var(--primary-white-color);
  background-color: var(--secondary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
}

/* кнопки */
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 32px;
  min-width: 200px;
  border: transparent;
  width: 200px;
  height: 50px;
}

/* цвет заголовков */
.features-title,
.specialization,
.team-title,
.team .member,
.project {
  color: var(--title-text-color);
}

/* Преимущества */

.features.list {
  display: flex;
  flex-wrap: wrap;
  
}

.features > .item {
  width: 270px;
}

.features > .item:not(:last-child) {
  margin-right: 30px;
}


.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

.specialization,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.specialization-list {
  display: flex;
}

.specialization-list > .item:not(:last-child) {
  margin-right: 30px;
}

/* наша команда */
.team-member {
  background-color: #F5F4FA;
}

.team {
  display: flex;
}

.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team > .item:not(:last-child) {
  margin-right: 30px;
}

.member-content {
  text-align: center; 
}

.team .member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .position {
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 30px;
}

.member {
  padding-top: 30px;
  padding-bottom: 10px;
}

/* футер */
.adress {
  background-color: var(--secondary-bgc);
}
.footer-contact .location,
.footer-contact .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact .location {
  color: var(--primary-white-color);
}

.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
}

/* портфолио *//* портфолио *//* портфолио */

.filter .filter-button:focus,
.filter .filter-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.filter.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter > .item:not(:last-child) {
  margin-right: 8px;
  }


.portfolio .project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  
}

.portfolio .service {
  font-size: 16px;
  line-height: 1.88;
}

.project-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-sec-gap));
  margin-bottom: calc(-1 * var(--project-sec-gap));
}

.project-set .item {
  flex-basis: calc(100% / 3 - var(--project-sec-gap));
  margin-left: var(--project-sec-gap);
  margin-bottom: var(--project-sec-gap);
}

.picture {
  display: block; 
  max-width: 100%;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;

}
